

.navMid-child {
  position: relative;
  float: left;
  left: 30rem;
  bottom: 2rem;
  padding-left: 4rem;
  font-size: 2rem;
}
.navEnd-child {
  position: relative;
  left: 35rem;
  bottom: 1rem;
  padding: 2rem;
  float: left;
}
#imgMain {
 float: right;
 margin-top: 3rem;
}
#navFirst {
  position: relative;
  left: 20rem;
  top: 3rem;
}
#midWholePart1 {
  position: absolute;
}
#midWholePart11 {
  position: relative;
  left: 18rem;
  top: 10rem;
  font-size: larger;
  padding-bottom: 0px;
}
#midWholePart121 {
  display: flex;
  font-size: 1.1rem;
  color: whitesmoke;
}
#midWholePart122 {
  margin-top: 1.6rem;
  padding-left: 15px;
}
#midWholePart12 {
  position: relative;
  background-color: aquamarine;
  left: 35%;
  top: 15rem;
  width: 15rem;
 padding-left: 2rem;
 border-radius: 30px;
}
#midWholePart13 {
  position: relative;
  display: flex;

  top: 25rem;
  left: 15rem;
}
.tag1 {
  position: relative;
  left: 7rem;
  bottom: 7rem;
  font-size: 25px;

}
.tag2 {
  position: relative;
  left: 8rem;
  bottom: 6rem;
  font-size: 25px;
  font-weight: 800;
  
}
.midWholePart13Parts {
  position: relative;
  margin-left: 3rem;
  bottom: 3rem;
}

.text1 {
  position: relative;
  width: 15rem;
  left: 7rem;
  bottom: 9rem;
  text-align: left;
}
.text2 {
  position: relative;
  left: 8rem;
  bottom: 8rem;
  width: 15rem;
}
#light {
  padding-left: 4rem;
  
}
#care {
  padding-left: 3rem;
   
}
#monstera{

    font-size: 6rem;
    margin-bottom: 0;
    
}

